// font-face fonts
// see http://compass-style.org/docs/reference/compass/css3/font_face/

//@import "compass/css3/font-face"

@font-face {
    font-family: 'fira_sansmedium';
    src: url('fonts/firasans-medium-webfont.eot');
    src: url('fonts/firasans-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/firasans-medium-webfont.woff2') format('woff2'),
         url('fonts/firasans-medium-webfont.woff') format('woff'),
         url('fonts/firasans-medium-webfont.ttf') format('truetype'),
         url('fonts/firasans-medium-webfont.svg#fira_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fira_sanslight';
    src: url('fonts/firasans-light-webfont.eot');
    src: url('fonts/firasans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/firasans-light-webfont.woff2') format('woff2'),
         url('fonts/firasans-light-webfont.woff') format('woff'),
         url('fonts/firasans-light-webfont.ttf') format('truetype'),
         url('fonts/firasans-light-webfont.svg#fira_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}