//FONTS

$firalight-stack: 'fira_sanslight', helvetica, arial, sans-serif;

$firamedium-stack: 'fira_sansmedium', helvetica, arial, sans-serif;

//COLORS

$blanc-t: transparentize(#FFFFFF, 0.5);

$gris: rgb(157, 156, 156);
$vert: rgb(199, 211, 0);

$vert-dark: rgb(141, 184, 36);
$vert-light: rgb(226, 223, 24);

$font-color: lighten(black, 4%);

