
@font-face {
  font-family: 'edmondsans';
  src: url("fonts/Edmondsans-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #;
  margin: 0 auto;
  background-image:linear-gradient(#9be3bf, #3D6E8C);
  background-position: 100% O;
  background-repeat:no-repeat;
}

body#chaud {
  margin: 0 auto;
  background-image:linear-gradient(#F4984D, #3D6E8C);
  background-position: 100% O;
  background-repeat:no-repeat;
}

body#froid {
  margin: 0 auto;
  background-image:linear-gradient(#A4DAE7, #3D6E8C);
  background-position: 100% O;
  background-repeat:no-repeat;
}

.Degrade {
background-image:linear-gradient(white, black);
}

.osmos_logo {
  display: block;
  margin: 0 auto;
  width: 35%;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 30%;
}

.icone_accueil {
width: 15%;
}

.icone_contact {
width: 25%;
display: block;
margin: 0 auto;
}

.jauge_contact {
width: 95%;
display: block;
margin: 0 auto;
}

.ajouter {
  width: 7%;
display: block;
margin: 0 auto;
}

#form {
  padding-bottom: 25px;
  padding-top: 25px;
  font-size: 25px;
  text-align: center;
}

#image {
  width: 150px;
}

#window1 {
height: 170px;
width: 460px;
display: block;
position: absolute;
}

#window1:hover {
  background-color: #ffffff !important;
}

#window2 {
height: 340px;
width: 460px;
display: block;
position: absolute;
}

#window2:hover {
  background-color: #ffffff !important;
}

#window3 {
height: 510px;
width: 460px;
display: block;
position: absolute;
}

#window3:hover {
  background-color: #ffffff !important;
}

#window4 {
height: 680px;
width: 460px;
display: block;
position: absolute;
}

#window4:hover {
  background-color: #ffffff !important;
}

.button {
  background-color: transparent;
  color : #;
  height: 60px;
  font-family: "edmondsans", helvetica, arial, sans-serif;
  font-size: 20px;
  display: block;
  margin: 0 auto;
  box-shadow: 0px 0px 0px #000000;
  padding-top: 12px;
  text-align: left;
}

.button:hover {
  background-color: transparent; !important;
  color: #ADD1C2;
}

.text {
  text-align: center;
  font-family: "edmondsans", helvetica, arial, sans-serif;
  font-size: 30px;
  color : #ffffff;
}

footer {
  
}
